/* The container */
.cart-custom-checkbox {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.cart-custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 23px;
    left: 21px;
    height: 24px;
    width: 24px;
    background-color: #1d1e1e;
    border: 1px solid #f3a446;
    border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.cart-custom-checkbox:hover input ~ .checkmark {
    background-color: #1e1e1e;
}

/* When the checkbox is checked, add a background */
.cart-custom-checkbox input:checked ~ .checkmark {
    background-color: #f3a446;
    border: none;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.cart-custom-checkbox input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.cart-custom-checkbox .checkmark:after {
    left: 8.5px;
    top: 3.5px;
    width: 7px;
    height: 14px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
