.icon {
    width: 30px;
    height: 30px;
}

.sidebar-icon-home {
    mask: url(../../assets/icons/home.svg) no-repeat center / contain;
    -webkit-mask: url(../../assets/icons/home.svg) no-repeat center / contain;
}

.sidebar-icon-cart {
    mask: url(../../assets/icons/cart-yellow.svg) no-repeat center / contain;
    -webkit-mask: url(../../assets/icons/cart-yellow.svg) no-repeat center /
        contain;
}

.sidebar-icon-setting {
    mask: url(../../assets/icons/setting.svg) no-repeat center / contain;
    -webkit-mask: url(../../assets/icons/setting.svg) no-repeat center / contain;
}

.sidebar-icon-logout {
    mask: url(../../assets/icons/log-out.svg) no-repeat center / contain;
    -webkit-mask: url(../../assets/icons/log-out.svg) no-repeat center / contain;
}

.sidebar-active {
    background-color: white;
}

.sidebar-tab:before,
.sidebar-tab:after {
    content: "";
    position: absolute;
    height: 10px;
    width: 20px;
    bottom: 0;
}

.sidebar-tab:after {
    bottom: -10px;
    right: 0px;
    border-top-right-radius: 10px;
    /* -moz-border-radius: 0 0 0 10px;
    -webkit-border-radius: 0 0 0 10px; */
    box-shadow: 10px 0 0 0 #323232;
    -webkit-box-shadow: 10px 0 0 0 #323232;
}

.sidebar-tab:before {
    top: -10px;
    right: 0px;
    border-bottom-right-radius: 10px;
    /* -moz-border-radius: 0 0 10px 0;
    -webkit-border-radius: 0 0 10px 0; */
    box-shadow: 10px 0 0 0 #323232;
    -webkit-box-shadow: 10px 0 0 0 #323232;
}
